<!DOCTYPE html>
<html>
    <script>
        $(document).ready(function(){
            $("#tooltip-ex a").tooltip({
                placement : 'right'
            });
        });
    </script>
    <style>
        .Bootstrap-demo{
            margin:100px 30px 30px 30px;
        }
        .connecting {
           cursor: -webkit-grabbing !important;
           cursor: -moz-grabbing !important;
        }
    </style>
    <body>
        <div class="wrapper">
            <header class="main-header clearfix">
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top pull-right">
                  <!-- Sidebar toggle button-->
                  <md-switch class="pull-left" ng-model="polling" aria-label="VM Polling" ng-change="vm_polling()">
                    VM Polling: {{ polling ? "ON" : "OFF"}}
                  </md-switch>
                  <button class="btn btn-block btn-default btn-xs pull-right" ng-click="resetALL()" type="button">RESET ALL</button>
                  <button class="btn btn-block btn-default btn-xs " ng-click="resetVMs()" type="button">RESET VMs</button>
                  
                  
                </nav>
                <!-- Logo -->
                <div id="logo-box">
                    <!--<span id="header-text" class="pull-right">Multi-Site Manager</span>-->
                    <a class="logo" width="140" height="40" >
                        <span class="logo-lg"><img src="content/images/svg_image/CPLANE NETWORKS logo latha - 2 line - large - with MSM.svg" />
                        </span>
                    </a>
                </div>
            </header>
            <div class="container" >  
                <div class="left-panel col-md-1" style="height: {{window_height}};">
                    <ul class="nav sidebar-menu">
                        <li>
                            <a href="" ng-click="addCustomer()" class="text-center" title="">
                                <span ><img src="content/images/svg_image/Add Customer.svg" /></span>
                                <span id="nav-text">Customer</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="OpenCloudSiteView()"  class="text-center">
                                <span><img src="content/images/svg_image/Add Cloud Site.svg"></img></span>
                                <span id="nav-text">Add Cloud Sites</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="openExternalSite()" class="text-center">
                                <span><img src="content/images/svg_image/Add External Site.svg"></img></span>
                                <span id="nav-text">Add External Site</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="openConnectSites()" class="text-center">
                                <span><img src="content/images/svg_image/Add Connections.svg"></img></span>
                                <span id="nav-text">Connect Sites</span>
                            </a>
                        </li>
                        <li>
                            <a href="" ng-click="openAddVms()" class="text-center">
                                <span><img src="content/images/svg_image/Add VM.svg"></img></span>
                                <span id="nav-text">Add VMs</span>
                            </a>
                        </li>
                    </ul>
                    <button class="btn btn-block btn-default btn-xs" ng-click="openApiCalls()" type="button">SHOW APIs</button>
                </div>


                <div class="main-content col-md-11"  >
                    <h4>
                        <!--<div id="tooltip-ex" style="width:30%;">-->
                        <div id="tooltip-ex" style="width:30%;float:left">Customer: <a href="" data-placement="bottom" title="" data-html="true" data-original-title="Customer : {{customerName}} <br/> Service Level : {{serviceLevel}} <br/> Max Cloud Sites : {{clouds}} <br/> Max VMs/Site : {{sites}}" 
                                           data-toggle="tooltip"  class="pop-design"> 
                                           {{customerName}}</a>
                                  </div>
                                  
                                  <div id="slider">
                                    <md-slider-container>
                                        <img class="pull-right no-select" style="cursor:pointer;" title="Zoom Out" ng-click="zoom('-1')" src="content/images/svg_image/zoom-out.svg" alt="Zoom Out" width="20" height="20" />
                                        <md-slider flex min="{{minZoomValue}}" step="{{zoomStep}}" max="{{maxZoomValue}}" ng-model="zoomValue" aria-label="zoom" id="zoom-slider" ng-change="zoom()"></md-slider>
                                        <img class="pull-right no-select" style="cursor:pointer;" title="Zoom In" ng-click="zoom('1')" src="content/images/svg_image/zoom-in.svg" alt="Zoom In" width="20" height="20" />
                                        <div class="headerDivider"></div>
                                        <output class="no-select" style="font-size:10pt;margin-top:-6px;width:33px;text-align:center;">{{zoomValue}}%</output> &#160;
                                    </md-slider-container>
                                  </div>
                                  
                   </h4>
					<nav id="notification" ng-if="notification" class="navbar navbar-static-top" style="float:right; width:26.5%; margin:-30px -11px 0px 0px">
                        <img class="pull-left" src="content/images/pngs/spinner.gif" alt="Spinner" width="24" height="24" />
                        <span style="color:green; font-size:10pt; font-weight:bold; padding-top:10px; vertical-align:middle; margin-left:10px;">{{notification}}</span>
                    </nav>
                    <div class="main-box clearfix" style="height:{{main_box_height}};">
                        <div class="api-call-box col-md-3 pull-right" ng-hide="showApi" style="height:100%;padding:0px">
                            <div class="gradient_32"><span style="vertical-align: -4px;">API Window</span>
                                <img class="pull-right" style="cursor:pointer;" title="Close Window" ng-click="closeApiCalls()" src="content/images/pngs/close.png" alt="Close" width="20" height="20" />
                                <img class="pull-right" style="cursor:pointer;margin:1px 10px 1px -10px" title="Clean Window" ng-click="clearApiCalls()" src="content/images/pngs/delete.png" alt="Clean" width="18" height="18" />
                            </div>
                            <div id="apiData">
                                <div class="panel-default main-api-panel" ng-repeat="call in apiCalls">
                                    <div class="panel-heading api-panel-heading">
                                        <img ng-show="call.isCollapsed == true" src="content/images/pngs/plus.jpg" width="12" height="12" ng-click="call.isCollapsed = !call.isCollapsed"></img>
                                        <img ng-show="call.isCollapsed == false" src="content/images/pngs/minus.jpg" width="12" height="12" ng-click="call.isCollapsed = !call.isCollapsed"></img><span style="vertical-align: -1px;">&#160;{{call.method}}&#160;{{call.api}}</span>
                                    </div>
                                    <div uib-collapse="call.isCollapsed">
                                        <div ng-show="!call.isCollapsed" class="panel-body" style="font-size:10pt;line-height:1.5;word-break:break-all">{{call.result}}</div>
                                    </div>
                                </div>
                            </div>    
                        </div>
                        <div class="draw-canvas-box col-md-9" style="height: 100%; ">
                        </div>
                    </div>
                </div>    
            </div>    
        </div>
    </body>
    <script>
        var oldAPICallLen = 0;
        window.setInterval(function() {
            var newAPICallLen = document.getElementById('apiData').children.length 
            var elem = document.getElementById('apiData');
            if (newAPICallLen > oldAPICallLen){
                elem.scrollTop = elem.scrollHeight;
            }  
            oldAPICallLen = newAPICallLen;
        }, 500);
    </script>
</html>
