<!DOCTYPE html>

    <div class="modal-header">Add Cloud (OpenStack) Sites</div>
    <div class="modal-body clearfix">
        <form class="addOsSitesForm" name="cloudForm" novalidate>
            <div class="site_block">
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label" for="siteName"><b>Site 1</b></label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="siteField1" ng-model="siteField1" name="siteField1" ng-options="x for x in OsSitesNames" ng-change="update()" required>
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.siteField1.$invalid">Select an option</span>-->
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" value="" ng-checked="true" ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site1.bbSubnetChecked" />
                    <label class="col-sm-3 control-label">Backbone Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="subnetField1" ng-model="subnetField1" ng-disabled="!subnetStatus.site1.bbSubnetChecked" name="subnetField1" ng-options="x for x in subnetValList1" ng-required="bbSubnet1Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label">Gateway(OGR)</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="gatewayField1" ng-model="gatewayField1" name="gatewayField1" ng-options="x for x in gatewayValList1" required> 
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.gatewayField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" value="" checked ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site1.inteResSubnetChecked" />
                    <label class="col-sm-3 control-label">Internal Resources Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="internalSubnetField1" ng-model="internalSubnetField1" ng-disabled="!subnetStatus.site1.inteResSubnetChecked" name="internalSubnetField1" ng-options="x for x in subnetInternalList1" ng-required="inteResSubnet1Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" value="" checked ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site1.floatInterSubnetChecked" />
                    <label class="col-sm-3 control-label">Floating IP Internal Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="fipSubnetField1" ng-model="fipSubnetField1" ng-disabled="!subnetStatus.site1.floatInterSubnetChecked" name="fipSubnetField1" ng-options="x for x in subnetFIPList1" ng-required="floatInterSubnet1Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label">Floating IP Range</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="fipRangeField1" ng-model="fipRangeField1" ng-disabled="!subnetStatus.site1.floatInterSubnetChecked" name="fipRangeField1" ng-options="x for x in fipRangeList1" ng-required="floatInterSubnet1Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
            </div>
            <div class="site_block">
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label" for="siteName"><b>Site 2</b></label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="siteField2" required>
                            <option ng-model="siteField2">{{siteField2}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox"  name="" value="" checked ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site2.bbSubnetChecked"  />
                    <label class="col-sm-3 control-label">Backbone Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="subnetField2" ng-model="subnetField2" ng-disabled="!subnetStatus.site2.bbSubnetChecked" name="subnetField2" ng-options="x for x in subnetValList2" ng-required="bbSubnet2Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField2.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label">Gateway(OGR)</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="gatewayField2" ng-model="gatewayField2" name="gatewayField2" ng-options="x for x in gatewayValList2" required>
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.gatewayField2.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" value="" checked ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site2.inteResSubnetChecked" />
                    <label class="col-sm-3 control-label">Internal Resources Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="internalSubnetField2" ng-model="internalSubnetField2" ng-disabled="!subnetStatus.site2.inteResSubnetChecked" name="internalSubnetField2" ng-options="x for x in subnetInternalList2" ng-required="inteResSubnet2Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <input type="checkbox" name="" value="" checked ng-disabled="{{IsSubnet_editable}}" ng-model="subnetStatus.site2.floatInterSubnetChecked" />
                    <label class="col-sm-3 control-label">Floating IP Internal Subnet</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="fipSubnetField2" ng-model="fipSubnetField2" ng-disabled="!subnetStatus.site2.floatInterSubnetChecked" name="fipSubnetField2" ng-options="x for x in subnetFIPList2" ng-required="floatInterSubnet2Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
                <div class="form-group">
                    <img src="content/images/pngs/empty.png" />
                    <label class="col-sm-3 control-label">Floating IP Range</label>
                    <div class="col-sm-5">
                        <select id="ser_lev" ng-init="fipRangeField2" ng-model="fipRangeField2" ng-disabled="!subnetStatus.site2.floatInterSubnetChecked" name="fipRangeField2" ng-options="x for x in fipRangeList2" ng-required="floatInterSubnet2Checked">
                        </select>
                        <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                    </div>    
                </div>
            </div>    
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn_group">
            <button class="btn btn-sm btn-gray" ng-click="CloseClipCancelReportDiag()">Cancel</button>
            <button type="btn" class="btn btn-sm btn-gray pull-left" ng-click="submitOsForm()" >Submit</button>
        </div>
    </div>