<!DOCTYPE html>

    <div class="modal-header">Add Cloud (OpenStack) Sites</div>
    <div class="modal-body clearfix">
        <form class="addOsSitesForm" name="cloudForm" novalidate>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="siteName">Site 1</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="siteField1" ng-model="siteField1" name="siteField1" ng-options="x for x in OsSitesNames" ng-change="update()" required>
                    </select>
                    <!--<span class="error-msg" ng-show="cloudForm.siteField1.$invalid">Select an option</span>-->
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Default Subnet</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="subnetField1" ng-model="subnetField1" name="subnetField1" ng-options="x for x in subnetValList1" required>
                    </select>
                    <!--<span class="error-msg" ng-show="cloudForm.subnetField1.$invalid">Select an option</span>-->
                </div>    
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Gateway</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="gatewayField1" ng-model="gatewayField1" name="gatewayField1" ng-options="x for x in gatewayValList1" required> 
                    </select>
                    <!--<span class="error-msg" ng-show="cloudForm.gatewayField1.$invalid">Select an option</span>-->
                </div>    
            </div>
            
            <div class="form-group">
                <label class="col-sm-3 control-label" for="siteName">Site 2</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="siteField2" required>
                        <option ng-model="siteField2">{{siteField2}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Default Subnet</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="subnetField2" ng-model="subnetField2" name="subnetField2" ng-options="x for x in subnetValList2" required>
                    </select>
                    <!--<span class="error-msg" ng-show="cloudForm.subnetField2.$invalid">Select an option</span>-->
                </div>    
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Gateway</label>
                <div class="col-sm-5">
                    <select id="ser_lev" ng-init="gatewayField2" ng-model="gatewayField2" name="gatewayField2" ng-options="x for x in gatewayValList2" required>
                    </select>
                    <!--<span class="error-msg" ng-show="cloudForm.gatewayField2.$invalid">Select an option</span>-->
                </div>    
            </div>
            
        </form>
    </div>
    <div class="modal-footer">
        <div class="btn_group">
            <button class="btn btn-sm btn-gray" ng-click="CloseClipCancelReportDiag()">Cancel</button>
            <button type="btn" class="btn btn-sm btn-gray pull-left" ng-click="submitOsForm()" >Submit</button>
        </div>
    </div>